<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../util/baseTop.js" type="text/javascript" charset="utf-8"></script>
		<!-- <link rel="stylesheet" type="text/css" href="../../component/layer/admin/admin.css" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/login/login.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<style type="text/css">
			.content {

				height: 100%;
				border: solid 1px red;
				overflow: scroll;
				overflow-x: hidden;
				padding: 0 20px;
			}

			.notice {
				text-align: center;
			}

			.myMessage {
				text-align: right;
			}

			.message {
				border: solid 2px black;
				display: inline-block;
			}
		</style>
	</head>
	<body layadmin-themealias="classic-black-header">
		<div id="login">
			<div style="height: 25px;background-color: #009F95;">
				<p>事件群</p>
			</div>
			<div id="chat">
				<!-- 聊天内容 -->
				<div class="content" id="content">
					<div v-for="(item,index) in messageList" :key="index">
						<!-- 加入群聊 -->
						<!-- <div class="notice" v-if="item.type=='addUser'">
							<h2>{{item.user}}加入群聊</h2>
						</div> -->
						<!-- 退出群聊 -->
						<!-- <div class="notice" v-if="item.type=='quit'">
							<div>{{item.user}}退出群聊</div>
						</div> -->
						<!-- 收到消息 -->
						<!-- <div :class="{'myMessage':item.userId==userId}" v-if="item.type=='message'">
							<div>{{item.user}}:{{item.time}}</div>
							<h3 class="message">{{item.content}}</h3>
						</div> -->
						<div :class="{'myMessage':item.oid==mobileFzwno}">
							<div><span style="color: #0000FF;">{{item.userName}}</span>:{{item.creatTime}}</div>
							<h3 class="message">{{item.content}}</h3>
						</div>
					</div>
				</div>
				<!-- 编辑栏 -->
				<div style="margin-top: 5px;">
					<Input v-model="text" show-word-limit type="textarea" placeholder="Enter something..." style="width: 300px;height: 40px;" />
					<Button type="info" @click="send()">发送</Button>
					<!-- <Button type="error" @click="quit()">退出</Button> -->
				</div>
			</div>


		</div>

		<script src="../../util/request.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			// demo data
			var messageList = [{ //发送的消息格式
					type: 'message', //发送类型
					user: '姓名22',
					userId: '2',
					toUser: '', //消息接收方名
					content: '哈哈22', //发送内容
					time: '15:33' //发送时间
				},
				{ //发送的消息格式
					type: 'message', //发送类型
					user: '姓名11',
					userId: '1',
					toUser: '', //消息接收方名
					content: '哈哈11', //发送内容
					time: '15:34' //发送时间
				},
				{ //发送的消息格式
					type: 'message', //发送类型
					user: '姓名33',
					userId: '3',
					toUser: '', //消息接收方名
					content: '哈哈33', //发送内容
					time: '15:35' //发送时间
				}
			];

			var vueObj = new Vue({
				el: '#login',
				data: {
					messageList: [], //所有消息列表
					users: [], //用户列表
					eventNo: '',
					eventType: '',
					genOid: '',
					ifEnter: false, //是否聊天状态
					userName: '游客',
					userId: '1',
					oid: '',
					mobileFzwno: '',
					owerIp: '',
					text: 'hello ', //内容
					ws: null, //wbs
					message: { //发送的消息格式
						type: '', //发送类型
						userName: '',
						oid: '',
						toUser: '', //消息接收方名
						content: '', //发送内容
						creatTime: '' //发送时间
					}
				},
				created() {
					//如果没有这句代码，select中初始化会是空白的，默认选中就无法实现
					// this.userSelected = this.userList[0].id;
					// this.deviceSelected = this.deviceList[0].id;
					var user = JSON.parse(localStorage.getItem("sessionToken"));
					this.userId = user.id;
					this.oid = user.oid;
					this.owerIp = user.owerIp;

					const dataB = JSON.parse(sessionStorage.getItem('param'))
					console.log("传来的参数==" + dataB.eventNo)
					this.eventNo = dataB.eventNo;
					this.eventType = dataB.eventType;
					this.genOid = dataB.genOid;
				},
				/* watch: {
					// 监测路由变化,只要变化了就调用获取路由参数方法将数据存储本组件即可
					'$route': 'getParams'
				}, */
				mounted() {
					let that = this;
					// window.setEventNo = this.setEventNo(eventNo);
					// window.toLogin = this.toLogin();
					this.getMobileFzwno();
					// this.toLogin();
				},
				methods: {
					// 退出聊天室
					quit() {
						this.message.type = 'quit';
						this.message.content = this.text;
						this.ws.onopen();
						this.ws.close();
						this.ifEnter = false;

					},
					setEventNo(eventNo){
						this.eventNo = eventNo;
						layer.msg(this.eventNo);
					},
					getMobileFzwno() {
						try {
							if (test) {
								this.mobileFzwno = test.getMobileFzwno();
								this.toLogin();
							}
						} catch (e) {
							console.log(e.message);
							this.mobileFzwno = this.oid;
						}
					},
					send() {
						this.message.type = 'message';
						this.message.content = this.text;
						// this.ws.onopen();
						/* api.doEvent({
							data: {
								'content': this.text,
								'oid': this.mobileFzwno,
								'eventNo': this.eventNo,
								'eventType': String(this.eventType),
								'bussInfoId': '1',
								'currIp': this.owerIp
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg("成功");
								this.messageList = [];								
								this.toLogin();
							}
						}).catch((err) => {
							layer.msg(err.msg);
						}); */
						try {
							if (test) {
								var result = test.sendChatMsg(this.eventNo, this.text)
								if ('0' == result) {
									// layer.msg("成功");
									// this.messageList = [];
									// this.toLogin();
								} else {
									layer.msg(result);
								}
							}
						} catch (e) {
							layer.msg(e.message);
							console.log(e.message);
						}
					},
					// 登陆 
					toLogin() {
						/* try {
							if (test) {
								this.tcpReceventNo = test.getEventNo();
								this.eventNo = this.tcpReceventNo;
							}
						} catch (e) {
							console.log(e.message);
						} */
						// layer.msg(this.eventNo);
						
						api.events({
							data: {
								'eventNo': this.eventNo,
								'oid': this.mobileFzwno,
								'currIp': this.owerIp
							}
						}).then((res) => {
							if (res.code == 0) {
								this.messageList = [];
								//layer.msg("成功");
								this.messageList = res.data;
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
				},
			});

			function flushChat(eventNo) {
				 // alert(eventNo);
				vueObj.setEventNo(eventNo);
				vueObj.toLogin();
			};
		</script>
	</body>
</html>
