<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../util/baseTop.js" type="text/javascript" charset="utf-8"></script>
		<!-- <link rel="stylesheet" type="text/css" href="../../component/layer/admin/admin.css" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/login/login.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	</head>
	<body layadmin-themealias="classic-black-header">
		<div id="login" class="layui-fluid">
			<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
				<div class="layadmin-user-login-main">
					<div class="layadmin-user-login-box layadmin-user-login-header">
						<h2>设备厂商</h2>
						<p>===================================</p>
					</div>
					<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-devicetype"></label>
							<select id="LAY-user-login-devicetype" v-model="deviceSelected" @change="getDeviceSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.id" v-for="coupon in deviceList">{{coupon.compCn}}</option>
							</select>
						</div>

						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid" @click="toRegist">选择</button>
						</div>
						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid" @click="toIndex">主页</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../util/request.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#login',
				data: {
					deviceSelected: '', 
					deviceName: '', 
					deviceList:[],
				},
				created() {
					//如果没有这句代码，select中初始化会是空白的，默认选中就无法实现
					// this.userSelected = this.userList[0].id;
					// this.deviceSelected = this.deviceList[0].id;
				},
				mounted() {
					let that = this;
					this.deviceComp();
				},
				methods: {

					toRegist() {
						// let token = localStorage.getItem("token");
						// let url_no_token = localStorage.getItem("url_no_token");
						// layer.msg("token"+token+"(url_no_token="+url_no_token+")");
						if(test){
							test.deviceComp(this.deviceName);
						}
					},
					toIndex() {
						window.location.href = './index.html';
					},
					getDeviceSelected() {
						//获取选中的优惠券
						console.log(this.deviceSelected);
						var arr = this.deviceList;
						if (arr.length > 0) {
							for (j = 0, len = arr.length; j < len; j++) {
								if (this.deviceSelected == arr[j].id) {
									this.deviceName = arr[j].compEn;
									break;
								}
							}
						};
					},
					deviceComp() {
						
						api.deviceComp({
							data: {}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.length > 0) {
									this.deviceList = res.data;
									this.deviceSelected = this.deviceList[0].id;
									this.deviceName = this.deviceList[0].compEn;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
						
					},

				},
			});
		</script>
	</body>
</html>
