<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../util/baseTop.js" type="text/javascript" charset="utf-8"></script>
		<!-- <link rel="stylesheet" type="text/css" href="../../component/layer/admin/admin.css" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/login/login.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	</head>
	<body layadmin-themealias="classic-black-header">
		<div id="login" class="layui-fluid">
			<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
				<div class="layadmin-user-login-main">
					<div class="layadmin-user-login-box layadmin-user-login-header">
						<h2>注册</h2>
						<p>===================================</p>
					</div>
					<div class="layadmin-user-login-box layadmin-user-login-body layui-form">

						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-devicetype"></label>
							<select id="LAY-user-login-devicetype" v-model="deviceSelected" @change="getDeviceSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.id" v-for="coupon in deviceList">{{coupon.devType}}</option>
							</select>
						</div>
						<!-- <div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-node"></label>
							<select id="LAY-user-login-node" v-model="nodeSelected" @change="getNodeSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.id" v-for="coupon in nodeList">{{coupon.name}}</option>
							</select>
						</div> -->

						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-p"></label>
							<select id="LAY-user-login-p" v-model="pSelected" @change="getPSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.provinceId" v-for="coupon in pList">{{coupon.provinceName}}</option>
							</select>
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-c"></label>
							<select id="LAY-user-login-c" v-model="cSelected" @change="getCSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.cityId" v-for="coupon in cList">{{coupon.cityName}}</option>
							</select>
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-a"></label>
							<select id="LAY-user-login-a" v-model="aSelected" @change="getASelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.areaId" v-for="coupon in aList">{{coupon.areaName}}</option>
							</select>
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-s"></label>
							<select id="LAY-user-login-s" v-model="sSelected" @change="getSSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.streetId" v-for="coupon in sList">{{coupon.streetName}}</option>
							</select>
						</div>

						<div id="area_under">
							<div class="layui-form-item">
								<span>第一级:</span>
								<input type="number" min="0" max="83" oninput="if(value>83)value=83" v-model="oneSum" name="oneSum" placeholder="0~83"
								 style="height: 38px;width: 80px;">
								<select v-model="onetabSelected" @change="getOnetabSelected" style="height: 38px;display: inline-block;width: max-content;">
									<option :value="coupon.fzwStr" v-for="coupon in acsList">{{coupon.oneTab}}</option>
								</select>
							</div>
							<div class="layui-form-item">
								<span>第二级:</span>
								<input type="number" min="-83" max="745" oninput="if(value>745)value=745" v-model="twoSum" name="twoSum"
								 placeholder="-83~745" style="height: 38px;width: 80px;">
								<select v-model="twotabSelected" @change="getTwotabSelected" style="height: 38px;display: inline-block;width: max-content;">
									<option :value="coupon.fzwStr" v-for="coupon in acsList">{{coupon.twoTab}}</option>
								</select>
							</div>
							<div class="layui-form-item">
								<span>第三级:</span>
								<input type="number" min="0" max="745" oninput="if(value>745)value=745" v-model="threeSum" name="threeSum"
								 placeholder="0~745" style="height: 38px;width: 80px;">
								<select v-model="threetabSelected" @change="getThreetabtabSelected" style="height: 38px;display: inline-block;width: max-content;">
									<option :value="coupon.fzwStr" v-for="coupon in acsList">{{coupon.threeTab}}</option>
								</select>
							</div>
						</div>

						<div class="layui-form-item" v-show="netsOperatingBool">
							<span>选择注册网关:</span>
							<select v-model="netSelected" @change="getNetSelected" style="height: 38px;display: inline-block;width: max-content;">
								<option :value="coupon.ip" v-for="coupon in messageList">{{coupon.ip}}({{coupon.netSearchNetTask.OID}})</option>
							</select>
						</div>

						<div id="nodeDiv">
							<div class="layui-form-item">
								<label class="layadmin-user-login-icon layui-icon layui-icon-about" for="LAY-user-login-deviceName"></label>
								<input type="text" v-model="deviceName" name="deviceName" id="LAY-user-login-deviceName" maxlength="18"
								 lay-verify="required" placeholder="设备名称" class="layui-input">
							</div>
							<div class="layui-form-item">
								<label class="layadmin-user-login-icon layui-icon layui-icon-about" for="LAY-user-login-ip"></label>
								<input type="text" v-model="ip" name="ip" id="LAY-user-login-ip" maxlength="18" lay-verify="required"
								 placeholder="ip" class="layui-input">
							</div>
							<div class="layui-form-item">
								<label class="layadmin-user-login-icon layui-icon layui-icon-about" for="LAY-user-login-port"></label>
								<input type="text" v-model="port" name="port" id="LAY-user-login-port" maxlength="18" lay-verify="required"
								 placeholder="port" class="layui-input">
							</div>
						</div>

						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid" @click="toLogin" lay-submit="" lay-filter="LAY-user-login-submit">注 册</button>
						</div>
						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid" @click="toIndex">主 页</button>
						</div>


					</div>
					<div v-show="operatingBool" class="layadmin-user-login-box layadmin-user-login-footer" style="display: none;">
						<div style="display: none;">
							<div class="layui-form-item">
								<label class="layui-form-label">区域ip：</label>
								<div class="layui-input-block">
									<el-input required v-model="preip"></el-input>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">区域port：</label>
								<div class="layui-input-block">
									<el-input required v-model="preport"></el-input>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">区域fzwno：</label>
								<div class="layui-input-block">
									<el-input required v-model="loginfzwno"></el-input>
								</div>
							</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">fzwno：</label>
							<div class="layui-input-block">
								<el-input required v-model="fzwno"></el-input>
							</div>
						</div>

						<div style="display: none;">
							<div class="layui-form-item">
								<label class="layui-form-label">归属ip：</label>
								<div class="layui-input-block">
									<el-input required v-model="owerip"></el-input>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">归属port：</label>
								<div class="layui-input-block">
									<el-input required v-model="owerport"></el-input>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">归属fzwno：</label>
								<div class="layui-input-block">
									<el-input required v-model="owerfzwno"></el-input>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<script src="../../util/request.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var vueObj = new Vue({
				el: '#login',
				data: {
					// verifyCode: null, // 验证码图片
					netSelected: '',
					messageList:[],
					netsOperatingBool:false,
					operatingBool: false,
					idcard: "",
					currIp: "",
					preip: "",
					preport: "",
					loginfzwno: "",
					fzwno: "",
					owerip: "",
					owerport: "",
					owerfzwno: "",
					userId: '',
					userName: '',
					passWord: '',
					owerServerIp: '',
					deviceList: [],
					deviceSelected: '',
					deviceName: '',
					ip: '',
					port: '',
					nodeList: [],
					nodeSelected: 0,
					parentNodeId: 0,
					pList: [],
					pSelected: '',
					cList: [],
					cSelected: '',
					aList: [],
					aSelected: '',
					sList: [],
					sSelected: '',
					acsList: [],
					onetabSelected: '',
					twotabSelected: '',
					threetabSelected: '',
					oneSum: 0,
					// oneTab: '',
					twoSum: 0,
					// twoTab: '',
					threeSum: 0,
					// threeTab: '',
					pSort: 0,
					cSort: 0,
					aSort: 0,
					sSort: 0
				},
				created() {
					//如果没有这句代码，select中初始化会是空白的，默认选中就无法实现。。
					// this.deviceSelected = this.deviceList[0].id;

					var user = JSON.parse(localStorage.getItem("sessionToken"));
					this.userId = user.id;
					this.userName = user.userName;
					this.passWord = user.passWord;
					this.owerServerIp = user.owerIp;
					this.idcard = user.idcard;
				},
				mounted() {
					let that = this;
					// this.getChildNodes();
					this.addrInit();
					this.acsAll();
					this.deviceType();
				},
				methods: {
					acsAll() {
						api.acsAll({
							data: {}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.length > 0) {
									this.acsList = res.data;
									this.onetabSelected = this.acsList[0].fzwStr;
									this.twotabSelected = this.acsList[0].fzwStr;
									this.threetabSelected = this.acsList[0].fzwStr;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					getNetSelected(){
						console.log(this.netSelected);
						if (test) {
							test.toNetTcp(this.netSelected);
						}
					},
					getOnetabSelected() {
						//获取选中的优惠券
						console.log(this.onetabSelected)
						// layer.msg(this.userSelected);
					},
					getTwotabSelected() {
						//获取选中的优惠券
						console.log(this.twotabSelected)
						// layer.msg(this.userSelected);
					},
					getThreetabSelected() {
						//获取选中的优惠券
						console.log(this.threetabSelected)
						// layer.msg(this.userSelected);
					},
					getChildNodes() {
						api.getChildNodes({
							data: {
								'nodeId': 1
							}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.length > 0) {
									this.nodeList = res.data;
									this.nodeSelected = this.nodeList[0].id;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					deviceType() {
						api.deviceType({
							data: {}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.length > 0) {
									this.deviceList = res.data;
									this.deviceSelected = this.deviceList[0].id;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					addrInit() {
						api.addrInit({
							data: {}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.bsp.length > 0) {
									this.pList = res.data.bsp;
									this.pSelected = this.pList[0].provinceId;
									this.pSort = this.pList[0].sort;
								}
								if (res.data.bsc.length > 0) {
									this.cList = res.data.bsc;
									this.cSelected = this.cList[0].cityId;
									this.cSort = this.cList[0].sort;
								}
								if (res.data.bsa.length > 0) {
									this.aList = res.data.bsa;
									this.aSelected = this.aList[0].areaId;
									this.aSort = this.aList[0].sort;
								}
								if (res.data.bss.length > 0) {
									this.sList = res.data.bss;
									this.sSelected = this.sList[0].streetId;
									this.sSort = this.sList[0].sort;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					toIndex() {
						//获取选中的优惠券
						window.location.href = './index.html';
						// layer.msg(this.userSelected);
					},
					getDeviceSelected() {
						//获取选中的优惠券
						console.log(this.deviceSelected);
						if (this.deviceSelected == 1 || this.deviceSelected == 2) {

							var div = document.getElementById("nodeDiv")
							div.style = 'display:block;';
						} else {
							var div = document.getElementById("nodeDiv")
							div.style = 'display:none;';
							
							if(this.deviceSelected == 6 || this.deviceSelected == 7){
								this.netsOperatingBool = true;
								this.toSearchNet();
							}else{
								this.netsOperatingBool = false;
							}
						}
					},
					toSearchNet() {
						if (test) {
							test.toSearchNet();
						}
					},
					getNodeSelected() {
						//获取选中的优惠券
						console.log(this.nodeSelected)
						// layer.msg(this.userSelected);
					},
					getPSelected() {
						//获取选中的优惠券
						console.log(this.pSelected)
						var arr = this.pList;
						if (arr.length > 0) {
							for (j = 0, len = arr.length; j < len; j++) {
								if (this.pSelected == arr[j].provinceId) {
									this.pSort = arr[j].sort;
									break;
								}
							}
						};
						//初始化
						this.cSort = 0;
						this.aSort = 0;
						this.sSort = 0;

						api.cityByP({
							data: {
								'id': this.pSelected
							}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.bsc.length > 0) {
									this.cList = res.data.bsc;
									this.cSelected = this.cList[0].cityId;
									this.cSort = this.cList[0].sort;
								}
								if (res.data.bsa.length > 0) {
									this.aList = res.data.bsa;
									this.aSelected = this.aList[0].areaId;
									this.aSort = this.aList[0].sort;
								}
								if (res.data.bss.length > 0) {
									this.sList = res.data.bss;
									this.sSelected = this.sList[0].streetId;
									this.sSort = this.sList[0].sort;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					getCSelected() {
						//获取选中的优惠券
						console.log(this.cSelected);
						var arr = this.cList;
						if (arr.length > 0) {
							for (j = 0, len = arr.length; j < len; j++) {
								if (this.cSelected == arr[j].cityId) {
									this.cSort = arr[j].sort;
									break;
								}
							}
						};
						//初始化
						this.aSort = 0;
						this.sSort = 0;
						api.areaByC({
							data: {
								'id': this.cSelected
							}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.bsa.length > 0) {
									this.aList = res.data.bsa;
									this.aSelected = this.aList[0].areaId;
									this.aSort = this.aList[0].sort;
								}
								if (res.data.bss.length > 0) {
									this.sList = res.data.bss;
									this.sSelected = this.sList[0].streetId;
									this.sSort = this.sList[0].sort;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					getASelected() {
						//获取选中的优惠券
						console.log(this.aSelected);
						var arr = this.aList;
						if (arr.length > 0) {
							for (j = 0, len = arr.length; j < len; j++) {
								if (this.aSelected == arr[j].areaId) {
									this.aSort = arr[j].sort;
									break;
								}
							}
						};
						//初始化
						this.sSort = 0;

						api.streetByA({
							data: {
								'id': this.aSelected
							}
						}).then((res) => {
							if (res.code == 0) {
								if (res.data.bss.length > 0) {
									this.sList = res.data.bss;
									this.sSelected = this.sList[0].streetId;
									this.sSort = this.sList[0].sort;
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
						});
					},
					getSSelected() {
						//获取选中的优惠券
						console.log(this.sSelected);
						var arr = this.sList;
						if (arr.length > 0) {
							for (j = 0, len = arr.length; j < len; j++) {
								if (this.sSelected == arr[j].streetId) {
									this.sSort = arr[j].sort;
									break;
								}
							}
						};
					},
					// 登陆 
					toLogin() {

						// if (this.deviceSelected == 0 && !this.nodeSelected) {
						// if (!this.nodeSelected) {
						// 	errMsg("请选择上一级节点")
						// 	return;
						// }
						if (this.deviceSelected == 1 || this.deviceSelected == 2) {
							if (!this.deviceName) {
								errMsg("请输入设备名称")
								return;
							}
							if (!this.ip) {
								errMsg("请输入ip")
								return;
							}
							if (!this.port) {
								errMsg("请输入port")
								return;
							}
						}
						if (!this.oneSum) {
							this.oneSum = 0;
						}
						if (!this.twoSum) {
							this.twoSum = 0;
						}
						if (!this.threeSum) {
							this.threeSum = 0;
						}
						//设置该请求不带token访问，绕过权限认证
						localStorage.setItem("url_no_token", 0);
						this.deviceRegistElse();
						localStorage.setItem("url_no_token", 1);
					},
					deviceRegistElse() {
						api.deviceRegistElse({
							data: {
								'rootIp': api.rootIp,
								'currIp': this.owerServerIp,
								'deviceSelected': this.deviceSelected,
								'deviceName': this.deviceName,
								'idcard': this.idcard,
								'pSort': this.pSort,
								'cSort': this.cSort,
								'aSort': this.aSort,
								'sSort': this.sSort,
								'oneSum': this.oneSum,
								'oneTab': this.onetabSelected,
								'twoSum': this.twoSum,
								'twoTab': this.twotabSelected,
								'threeSum': this.threeSum,
								'threeTab': this.threetabSelected
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg(res.msg);
								this.operatingBool = true;
								this.preip = res.data.ip;
								this.preport = res.data.port;
								this.loginfzwno = res.data.loginFzwno;
								this.fzwno = res.data.fzwno;
								this.parentNodeId = res.data.parentNodeId;

								this.owerip = res.data.owerIp;
								this.owerport = res.data.owerPort;
								this.owerfzwno = res.data.owerFzwno;

								if (this.deviceSelected == 2) {
									//设置该请求不带token访问，绕过权限认证
									localStorage.setItem("url_no_token", 0);
									this.tcpClientConnect();
									localStorage.setItem("url_no_token", 1);
								}

								//注册为手机
								if (this.deviceSelected == 2 || this.deviceSelected == 5) {
									//通知管理服务器登录
									//设置该请求不带token访问，绕过权限认证
									localStorage.setItem("url_no_token", 0);
									// this.owerLoginNotify();
									this.wjhttp();
									localStorage.setItem("url_no_token", 1);
								}


								//手机webview接口
								if (test) {
									//注册为手机
									if (this.deviceSelected == 5)
										test.toTcp(this.preip, this.preport, this.fzwno);
									//注册为网关	
									if (this.deviceSelected == 6)
										test.toNetInfo(this.fzwno, this.userName, this.preip, this.preport, this.loginfzwno, this.owerip, this.owerport,
											this.owerfzwno, this.passWord);
									//注册为网关
									if (this.deviceSelected == 7)
										test.toNetInfo(this.fzwno, this.userName, this.preip, this.preport, this.loginfzwno, this.owerip, this.owerport,
											this.owerfzwno, this.passWord);

									//OID,Name,Identity,PhoneNum,Address,OwnerAddress,ServerIP,ServerPort,ServerOID,OwnerServerIP,OwnerServerPort,OwnerServerOID,PassNum,	
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
					wjhttp() {

						// api.wjhttp({
						// 	data: {
						// 		// 'currIp': this.owerip,
						// 		'data': new Blob(this.makeArr())
						// 	}
						// }).then((res) => {
						// 	if (res.code == 0) {
						// 		layer.msg(res.msg);
						// 	}
						// }).catch((err) => {
						// 	layer.msg(err.msg);
						// });
						var xhr = new XMLHttpRequest;
						xhr.open("POST", "http://" + this.owerip + ":8888" + "/wjhttp", true);
						xhr.responseType = "arraybuffer";
						xhr.onload = function(oEvent) {
							var arrayBuffer = xhr.response; // Note: not oReq.responseText
							if (arrayBuffer) {

								var byteArray = new Uint8Array(arrayBuffer);
								var buffer = new Array(byteArray.byteLength);
								for (var i = 0; i < byteArray.byteLength; i++) {
									buffer[i] = byteArray[i];
								}
								if (buffer.length >= 21) {
									var h = buffer.slice(0, 6);
									var hstr = bin2String(h);
									console.log(hstr);
									var l = buffer.slice(6, 8);
									var len = byte2ToUnsignedShort(l, 0);
									console.log(len);
									layer.msg(len);
									var v = buffer.slice(8, 9);
									var n = buffer.slice(9, 10);
									var p = buffer.slice(10, 12);
									var m = buffer.slice(12, 14);
									var s = buffer.slice(14, 16);
									var f = buffer.slice(16, 18);
									var b = buffer.slice(18, 20);
									// var u = buffer.slice(17,19);
								}

							}
						};
						xhr.send(this.makeArr());
					},
					makeArr() {
						var arr = new Array();
						var arr_ck = new Array();
						arr = arr.concat(this.stringToBytes("$TCUB&"));
						arr = arr.concat(this.getArrLength());
						arr_ck = arr_ck.concat(this.getArrLength());
						arr = arr.concat(this.str2Bytes("01"));
						arr_ck = arr_ck.concat(this.str2Bytes("01"));
						arr = arr.concat(this.str2Bytes("00"));
						arr_ck = arr_ck.concat(this.str2Bytes("00"));
						arr = arr.concat(this.str2Bytes("5000"));
						arr_ck = arr_ck.concat(this.str2Bytes("5000"));
						arr = arr.concat(this.str2Bytes("0100"));
						arr_ck = arr_ck.concat(this.str2Bytes("0100"));
						arr = arr.concat(this.str2Bytes("0100"));
						arr_ck = arr_ck.concat(this.str2Bytes("0100"));
						arr = arr.concat(this.stringToBytes("JS"));
						arr_ck = arr_ck.concat(this.stringToBytes("JS"));
						arr = arr.concat(this.str2Bytes("0000"));
						arr_ck = arr_ck.concat(this.str2Bytes("0000"));
						arr = arr.concat(this.getArrUserData());
						arr_ck = arr_ck.concat(this.getArrUserData());
						arr = arr.concat(this.getCheckNum(arr_ck));

						var buffer = new ArrayBuffer(arr.length);
						var uint8Array = new Uint8Array(buffer);
						for (var i = 0; i < uint8Array.byteLength; i++) { //尴尬,Uint8Array没有length，只有byteLength，之前写的竟然没测就发布了，现在才发现问题
							uint8Array[i] = arr[i];
						}

						return buffer;
					},
					getArrLength() {
						var len = this.getArrUserData().length;
						len = 21 + len;
						var b = this.getUint16Bytes(len);

						// b[0] = (len & 0xFF);
						// int 倒数第二个字节
						// b[1] = ((len & 0xFF00) >> 8);

						return b;
					},
					//得到一个16位无符号整型的字节数组，大端字节序
					getUint16Bytes(num) {
						return this.getUint8Array(2, function(view) {
							view.setUint16(0, num);
						})
					}, //将数值写入到视图中，获得其字节数组，大端字节序
					getUint8Array(len, setNum) {
						var buffer = new ArrayBuffer(len); //指定字节长度
						setNum(new DataView(buffer)); //根据不同的类型调用不同的函数来写入数值
						var uint8Array = new Uint8Array(buffer); //创建一个字节数组，从缓存中拿取数据
						var arr = new Array(); //将Uint8Array转成Array数组，不考虑性能问题
						// for (var i = 0; i < uint8Array.byteLength; i++) { //尴尬,Uint8Array没有length，只有byteLength，之前写的竟然没测就发布了，现在才发现问题
						// 	arr.push(uint8Array[i]);
						// }
						for (var i = uint8Array.byteLength - 1; i >= 0; i--) { //尴尬,Uint8Array没有length，只有byteLength，之前写的竟然没测就发布了，现在才发现问题
							arr.push(uint8Array[i]);
						}
						return arr;
					},
					getArrUserData() {
						var datas = [];
						var data = {
							'OID': this.fzwno,
							'ServerIP': this.preip,
							'ServerPort': this.preport,
							'ServerOID': this.loginfzwno,
							'OwnerServerOID': this.owerfzwno
						}
						var jsonStr = JSON.stringify(data);
						datas = this.stringToBytes(jsonStr);

						return datas;
					},
					getCheckNum(arr) {
						var datas = arr;
						var result = 0;
						for (var i = 0; i < datas.length; i++) {
							result = result ^ (datas[i]);
							result = result & 0xFF;
						}
						return result & 0xFF;
					},
					stringToBytes(str) {
						var ch, st, re = [];
						for (var i = 0; i < str.length; i++) {
							ch = str.charCodeAt(i); // get char  
							st = []; // set up "stack"  

							do {
								st.push(ch & 0xFF); // push byte to stack  
								ch = ch >> 8; // shift value down by 1 byte  
							}

							while (ch);
							// add stack contents to result  
							// done because chars have "wrong" endianness  
							re = re.concat(st.reverse());
						}
						// return an array of bytes  
						return re;
					},
					str2Bytes(str) {
						var pos = 0;

						var len = str.length;

						if (len % 2 != 0)

						{

							return null;

						}

						len /= 2;

						var hexA = new Array();

						for (var i = 0; i < len; i++)

						{

							var s = str.substr(pos, 2);

							var v = parseInt(s, 16);

							hexA.push(v);

							pos += 2;

						}

						return hexA;

					},
					searchNode() {
						api.searchNode({
							data: {
								'pSort': this.pSort,
								'cSort': this.cSort,
								'aSort': this.aSort,
								'sSort': this.sSort
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg(res.msg);

								this.owerip = res.data.ip;
								this.owerport = res.data.port;
								this.owerfzwno = res.data.loginFzwno;

								//设置该请求不带token访问，绕过权限认证
								localStorage.setItem("url_no_token", 0);
								this.deviceRegistElse();
								localStorage.setItem("url_no_token", 1);
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
					secDeviceRegist() {
						api.secDeviceRegist({
							data: {
								'userId': this.userId,
								'deviceSelected': this.deviceSelected,
								'deviceName': this.deviceName,
								'ip': this.ip,
								'port': this.port,
								'nodeId': this.parentNodeId,
								'fzwno': this.fzwno
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg(res.msg);
								// this.operatingBool = true;
								// this.preip = res.data.ip;
								// this.preport = res.data.port;
								// this.fzwno = res.data.fzwno;
								// localStorage.setItem("sessionToken", res.data.userInfo)
								// localStorage.setItem("token", res.data.token)
								// sessionStorage.setItem("sessionToken", res.data.userInfo);
								// sessionStorage.setItem("token", res.data.token);
								// window.location.href = './index.html';
								// localStorage.setItem("url_no_token", 0);
								// this.tcpClientConnect();
								// localStorage.setItem("url_no_token", 1);
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
					tcpClientConnect() {

						api.tcpClientConnect({
							data: {
								'currIp': this.ip,
								'ip': this.preip,
								'port': this.preport,
								'fzwno': this.fzwno
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg(res.msg);
								// this.secDeviceRegist();
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
					owerLoginNotify() {

						api.owerLoginNotify({
							data: {
								'currIp': this.owerip,
								'OID': this.fzwno,
								'ServerIP': this.preip,
								'ServerPort': this.preport,
								'ServerOID': this.loginfzwno,
								'OwnerServerOID': this.owerfzwno
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg(res.msg);
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
					//除了了管理服务器其它都要取fullFzwno
					getFullFzwno() {

						api.getFullFzwno({
							data: {
								'currIp': this.ip,
								'ip': this.preip,
								'port': this.preport,
								'fzwno': this.fzwno,
								'deviceType': this.deviceSelected
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg(res.msg);
								this.fzwno = res.data;
								if (this.deviceSelected == 2) {
									//设置该请求不带token访问，绕过权限认证
									localStorage.setItem("url_no_token", 0);
									this.tcpClientConnect();
									localStorage.setItem("url_no_token", 1);
								}
								//通知管理服务器登录
								this.owerLoginNotify();

								//手机webview接口
								if (test) {
									//注册为手机
									if (this.deviceSelected == 5)
										test.toTcp(this.preip, this.preport, this.fzwno);
									//注册为网关	
									if (this.deviceSelected == 6)
										test.toNetInfo(this.fzwno, this.userName, this.preip, this.preport, this.loginfzwno, this.owerip, this.owerport,
											this.owerfzwno, this.passWord);

									//OID,Name,Identity,PhoneNum,Address,OwnerAddress,ServerIP,ServerPort,ServerOID,OwnerServerIP,OwnerServerPort,OwnerServerOID,PassNum,	
								}
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
				},
			});

			function bin2String(arr) {
				if (typeof arr === 'string') {
					return arr;
				}
				var str = '',
					_arr = arr;
				for (var i = 0; i < _arr.length; i++) {
					var one = _arr[i].toString(2),
						v = one.match(/^1+?(?=0)/);
					if (v && one.length == 8) {
						var bytesLength = v[0].length;
						var store = _arr[i].toString(2).slice(7 - bytesLength);
						for (var st = 1; st < bytesLength; st++) {
							store += _arr[st + i].toString(2).slice(2);
						}
						str += String.fromCharCode(parseInt(store, 2));
						i += bytesLength - 1;
					} else {
						str += String.fromCharCode(_arr[i]);
					}
				}
				return str;
			}

			//byte数组转换为无符号short整数
			function byte2ToUnsignedShort(bytes, off) {
				var high = bytes[off + 1];
				var low = bytes[off];
				return (high << 8 & 0xFF00) | (low & 0xFF);
			}
			
			function nets(nets) {
				alert(nets);
				if (nets) {
					var obj = JSON.parse(nets);
					alert(obj);
					vueObj.messageList = obj;
					vueObj.netSelected = obj[0].ip;
					alert(obj[0].ip);
				}
			}
		</script>
	</body>
</html>
