<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../util/baseTop.js" type="text/javascript" charset="utf-8"></script>
		<!-- <link rel="stylesheet" type="text/css" href="../../component/layer/admin/admin.css" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/login/login.css" />
	</head>
	<body layadmin-themealias="classic-black-header">
		<div id="login" class="layui-fluid">
			<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
				<div class="layadmin-user-login-main">
					<div class="layadmin-user-login-box layadmin-user-login-header">
						<h2>用户注册</h2>
						<p>===================================</p>
					</div>
					<div class="layadmin-user-login-box layadmin-user-login-body layui-form">
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
							<input type="text" v-model="username" name="username" id="LAY-user-login-username" maxlength="16" lay-verify="required"
							 placeholder="用户名" class="layui-input">
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
							<input type="password" v-model="password" name="password" id="LAY-user-login-password" maxlength="16" lay-verify="required"
							 placeholder="密码" class="layui-input">
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password2"></label>
							<input type="password" v-model="password2" name="password2" id="LAY-user-login-password2" maxlength="16"
							 lay-verify="required" placeholder="确认密码" class="layui-input">
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-about" for="LAY-user-login-idcard"></label>
							<input type="text" v-model="idcard" name="idcard" id="LAY-user-login-idcard" maxlength="18" lay-verify="required"
							 placeholder="身份证号码" class="layui-input">
						</div>
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-pause" for="LAY-user-login-phone"></label>
							<input type="number" v-model="phone" name="phone" id="LAY-user-login-phone" max="99999999999" lay-verify="required"
							 placeholder="电话号码" class="layui-input">
						</div>
						<!-- <div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-edit" for="LAY-user-login-addr"></label>
							<input type="text" v-model="addr" name="addr" id="LAY-user-login-addr" maxlength="100" lay-verify="required"
							 placeholder="地址" class="layui-input">
						</div> -->
						<div class="layui-form-item">
							<label class="layadmin-user-login-icon layui-icon layui-icon-read" for="LAY-user-login-type"></label>
							<select id="LAY-user-login-type" v-model="userSelected" @change="getuserSelected" style="padding-left: 38px;height: 38px;display: block;width: 100%;">
								<option :value="coupon.id" v-for="coupon in userList">{{coupon.name}}</option>
							</select>
						</div>
						
						
						<!-- <div class="layui-form-item">
							<div class="layui-row">
								<div class="layui-col-xs7">
									<label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
									<input type="text" v-model="vercode" maxlength="4" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
								</div>
								<div class="layui-col-xs5">
									<div style="margin-left: 10px;">
										<img @click="getVerifyCode" :src="verifyCode" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
									</div>
								</div>
							</div>
						</div> -->
						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid" @click="toLogin" lay-submit="" lay-filter="LAY-user-login-submit">注 册</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>

		<script src="../../util/request.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#login',
				data: {
					verifyCode: null, // 验证码图片
					username: '', // 用户名
					password: '', // 密码
					password2: '', // 密码
					vercode: null, // 验证码
					idcard: '', // 
					phone: '', // 
					//addr: '', // 
					userList: [{
							id: 1,
							name: '个人'
						},
						{
							id: 2,
							name: '团体'
						}
					],
					userSelected: ''
					
				},
				created() {
					//如果没有这句代码，select中初始化会是空白的，默认选中就无法实现
					this.userSelected = this.userList[0].id;
					// this.deviceSelected = this.deviceList[0].id;
				},
				mounted() {
					let that = this;
					// this.getVerifyCode();
				},
				methods: {
					// 获取图片验证码
					/* getVerifyCode(){
						api.getVerifyCode()
						.then((res) => {
							if(res.code == 0){
								this.verifyCode = res.result;
							}
						}).catch((err) => {
							layer.msg(err.errorMessage);
						});
					}, */
					getuserSelected() {
						//获取选中的优惠券
						console.log(this.userSelected)
						// layer.msg(this.userSelected);
					},
					// getDeviceSelected() {
					// 	//获取选中的优惠券
					// 	console.log(this.deviceSelected)
					// 	// layer.msg(this.userSelected);
					// },
					// 登陆 
					toLogin() {

						if (!this.username) {
							errMsg("请输入用户名")
							return;
						}
						if (!this.password || this.password.length < 6) {
							errMsg("请输入密码")
							return;
						}
						if (!this.password2) {
							errMsg("请输入确认密码")
							return;
						}
						if (this.password != this.password2) {
							errMsg("两次密码不一样")
							return;
						}
						if (!this.idcard || this.idcard.length < 18) {
							errMsg("身份证号码")
							return;
						}
						if (!this.phone || this.phone.length < 11) {
							errMsg("电话号码")
							return;
						}
						// if (!this.addr || this.addr.length < 11) {
						// 	errMsg("地址")
						// 	return;
						// }
						/* if(!this.vercode ||  this.vercode.length < 4){
							errMsg("请输入验证码")
							return;
						} */
						api.userRegist({
							data: {
								'username': this.username,
								'password': this.password,
								'idcard': this.idcard,
								'phone': this.phone,
								// 'addr': this.addr,
								'userSelected': this.userSelected,
								// 'deviceSelected': this.deviceSelected,
								// 'deviceName': this.deviceName
							}
						}).then((res) => {
							if (res.code == 0) {
								layer.msg('注册成功');
								localStorage.setItem("sessionToken", JSON.stringify(res.data.user));
								localStorage.setItem("token", res.data.token);
								// sessionStorage.setItem("sessionToken", res.data.userInfo);
								// sessionStorage.setItem("token", res.data.token);
								window.location.href = './index.html';
							}
						}).catch((err) => {
							layer.msg(err.msg);
							// this.getVerifyCode();
						});
					},
				},
			});
		</script>
	</body>
</html>
